body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: linear-gradient(to bottom, #A020F0, #00FFFF); /* Electric Purple to Aqua gradient */
            margin: 0;
        }

        .card {
            width: 800px;
            height: 650px;
            background: white;
            border-radius: 10px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
        }

        .card:hover {
            transform: translateY(-10px);
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
        }

        .content {
            padding: 20px;
            text-align: center;
	    font-family: Roboto, Verdana, Arial;
        }

        h1 {
            color: #333;
        }

        p {
            color: #666;
        }

        button {
            background: #0073e6;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 18px;
            margin-top: 20px;
        }
